{% extends "base.html" %}
{% block home_body %} 


<!-- weather start -->
<div class="weather_section">
    <div class="title">
        <p class="time">{{weather.location.localtime}}</p>
        <h2>Top Stories</h2>
    </div>
    <div class="weather">

        <img src="{{weather.current.condition.icon}}" alt="">
            
        <div class="weather-text">
            <p class="city">{{weather.location.name}}</p>
            <p class="current"><b>{{weather.current.temp_c}}°C</b></p>
            <p class="feellike">feels like {{weather.current.feelslike_c}}°C</p>
            <!-- <p class="condition">{{weather.current.condition.text}}</p> -->
            <p class="humidity">humidity: {{weather.current.humidity}}%</p>
        </div>
    </div>
</div>
<!-- weathe rend -->



<div class="spacer-2em"></div>



<!-- top stories start -->
{% for article in topheadlines.articles %}
<div class="top_headlines">
    <a href="{{article.url}}" target="_blank">
        
        <img src="{{article.urlToImage}}" alt="">
        
        <div class="container">
            <h3>{{article.title}}</h3>
            <p>{{article.description}}</p>
        </div>
    </a>

    <a href="{{article.url}}" target="_blank"><p>{{article.content}}</p></a>
    
    <div class="source">
        <p>{{article.author}} ●</p>
        <p> {{article.publishedAt}}</p>
    </div>

</div>
{% endfor %}
<!-- top stories end -->



<div class="spacer-2em"></div>




<!-- trending start -->
<div class="section_home">

    <h2>Trending</h2>

    <div class="article_container">

        {% for article in trendinghome.articles %}  
        <a href="{{article.url}}">
            <img src="{{article.urlToImage}}" alt="">
            <h5>{{article.title}}</h5>
            <p>{{article.author}} ● <span>{{article.publishedAt}}</span></p>
        </a>
        {% endfor %}

    </div>
    
    <a href="/trending" class="link">View all trending</a>

</div>
<!-- trending end -->


<div class="spacer-2em"></div>


<!-- business start -->
<div class="section_home">

    <h2>Business</h2>

    <div class="article_container">

        {% for article in businesshome.articles %}  
        <a href="{{article.url}}">
            <img src="{{article.urlToImage}}" alt="">
            <h5>{{article.title}}</h5>
            <p>{{article.author}} ● <span>{{article.publishedAt}}</span></p>
        </a>
        {% endfor %}

    </div>
    
    <a href="/business" class="link">View all business</a>

</div>
<!-- business end -->


<div class="spacer-2em"></div>


<!-- technology start -->
<div class="section_home">

    <h2>Technology</h2>

    <div class="article_container">

        {% for article in technologyhome.articles %}  
        <a href="{{article.url}}">
            <img src="{{article.urlToImage}}" alt="">
            <h5>{{article.title}}</h5>
            <p>{{article.author}} ● <span>{{article.publishedAt}}</span></p>
        </a>
        {% endfor %}

    </div>
    
    <a href="/technology" class="link">View all technology</a>

</div>
<!-- technology end -->




<div class="spacer-2em"></div>


<!-- sports start -->
<div class="section_home">

    <h2>Sports</h2>

    <div class="article_container">

        {% for article in sportshome.articles %}  
        <a href="{{article.url}}">
            <img src="{{article.urlToImage}}" alt="">
            <h5>{{article.title}}</h5>
            <p>{{article.author}} ● <span>{{article.publishedAt}}</span></p>
        </a>
        {% endfor %}

    </div>
    
    <a href="/sports" class="link">View all sports</a>

</div>
<!-- sports end -->


<div class="spacer-2em"></div>


<!-- entertainment start -->
<div class="section_home">

    <h2>Entertainment</h2>

    <div class="article_container">

        {% for article in entertainmenthome.articles %}  
        <a href="{{article.url}}">
            <img src="{{article.urlToImage}}" alt="">
            <h5>{{article.title}}</h5>
            <p>{{article.author}} ● <span>{{article.publishedAt}}</span></p>
        </a>
        {% endfor %}

    </div>
    
    <a href="/entertainment" class="link">View all entertainment</a>

</div>
<!-- entertainment end -->



{% endblock%}